[Unit]
Description=score-rank
After=syslog.target

[Service]
User=root
ExecStart=/usr/java/jdk1.8.0_92/bin/java -jar -Xms1024m -Xmx2560m -Dlogs.dir=/opt/app/logs/score-rank -Ddata.dir=/opt/app/.data/score-rank -Ddisconf.download.dir=/opt/app/.data/score-rank/disconf  /opt/app/score-rank.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target