[Unit]
Description=score-rank
After=syslog.target

[Service]
User=root
ExecStart=/usr/bin/java -jar -Xms800m -Xmx800m -Dlogs.dir=/opt/logs -Ddata.dir=/opt/data -Ddisconf.download.dir=/opt/data/disconf  /opt/app/app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target